body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
  background: #fff;
}
h2 {
  margin-bottom: 10px;
}
.contador {
  margin-bottom: 30px;
}
.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}
button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid;
  cursor: pointer;
}
.menos { border-color: red; color: red; }
.mais  { border-color: black; color: black; }
.valor {
  background: #ccc;
  padding: 10px;
  font-size: 24px;
  margin: 10px 0;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.acoes button {
  width: 80%;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  border-radius: 10px;
  background: #999;
  color: white;
  border: none;
}
.limpar {
  background: red;
}
